.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: var(--second-color);
    color: #fff;
    padding: 15px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    z-index: 1000; 
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.notification p{
    height: fit-content;
    padding: 1rem;
    overflow: hidden;
}

.notification button {
    background: transparent;
    border: none;
    color: #ccc;
    cursor: pointer;
}