.navbar {
  height: 5rem;
  display: flex;
  flex-flow: row nowrap;
  padding: 1rem;
  justify-content: space-around;
}

.kodigoImg {
  width: auto;
  height: 100%;
}

.navbar ul {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  justify-content: space-around;
  align-items: center;
}

.navbar ul a {
  color: #101010;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }

  /* Cambia el diseño a columna en dispositivos móviles */
  .navbar ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .navbar ul a {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
}

/* Button styles */
.Bootcamps:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.SignIn:hover {
  background-color: var(--second-color);
  color: #fff;
}

.SignUp:hover {
  background-color: var(--third-color);
  color: #fff;
}

.logoutButton {
  padding: 10px 20px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.logoutButton:hover {
  background-color: #ff1a1a;
}
