:root{
    --primary-color: #3A1078;
    --second-color: #4E31AA;
    --third-color: #3795BD;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    color: inherit;
}