.footer {
    display: flex;
    padding: 1.5rem 0;
    justify-content: center;
  }
  
  .kodigoImg {
    height: 4rem;
    width: auto;
  }
  
  @media (max-width: 768px) {
    .footer {
      flex-direction: column;
      align-items: center;
    }
  }
  
  